
*
{
	box-sizing: border-box;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

body
{
	margin: 0;
}

div.header
{
	background-color: #111;
	color: white;
	margin: 0;
	font-size: 2em;
	font-weight: bold;
	padding: 1em;
}

div.menu ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #333;
	overflow: hidden;
}

div.menu ul li
{
	float: left;
}

div.menu ul li a
{
	display: block;
	color: white;
	font-weight: bold;
	padding: 14px 16px;
	text-decoration: none;
	text-align: center;
}

div.menu ul li a.active
{
	background-color: #0A0;
}

div.menu ul li a:hover:not(.active)
{
	background-color: #111;
}

@media screen and (max-width: 600px)
{
	div.menu ul li.right,
	div.menu ul li {float: none;}
}

div.content
{
	padding: 40px;
	margin-top: 30px;
}

p.columnContent
{
	text-align: justify;
	text-indent: 25px;
	line-height: 1.6;
	margin-bottom: 1.5em;
}
