
img
{
    opacity: 0.60;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

img:hover
{
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}		

div.imageContainer
{
	width: 100%;
	padding: 50px;
	box-sizing: border-box;
	border: 1px solid #777777;
	overflow: auto;				
}

div.imageContainer img
{
	width: 30%;
	float: left;
	margin: 10px;
}

div.imageContainer H1
{
	margin: 20px;
}

