
div.container
{
	border: 1px solid black;
	width: 80%;
	margin: auto;
}

div.fullMargin
{
	background-color: silver;
	margin: 70px;
}

div.topMargin
{
	background-color: silver;
	margin-top: 70px;
}

div.rightMargin
{
	background-color: silver;
	margin-right: 70px;
}

div.bottomMargin
{
	background-color: silver;
	margin-bottom: 70px;
}

div.leftMargin
{
	background-color: silver;
	margin-left: 70px;
}
